$header-height: 60px;

.header {
 height: $header-height;
}

.board-column-gridList {
  height: calc(100% - $header-height);

}

.app-board-column {
  height: 100% !important;
  width: 100% !important;
}
