<mat-toolbar class="header">
  <h1 class="title">{{title}}</h1>
  <div style="flex: 1 1 auto;"></div>
  <button mat-fab color="primary" aria-label="Add new task" (click)="addTask()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<mat-grid-list cols="3" class="column-gridList" rowHeight="fit">

  <mat-grid-tile
    #todoGrid="cdkDropList"
    cdkDropList
    [cdkDropListConnectedTo]="[implGrid, doneGrid]"
    [cdkDropListData]="boardColumns.todo.tasks"
    (cdkDropListDropped)="drop($event)">
    <app-board-column
      [columnData]="boardColumns.todo"
      (edit)="editTask($event, boardColumns.todo)"
      (delete)="deleteTask($event, boardColumns.todo)"
      class="app-column"></app-board-column>
  </mat-grid-tile>

  <mat-grid-tile
    #implGrid="cdkDropList"
    [cdkDropListConnectedTo]="[todoGrid, doneGrid]"
    cdkDropList
    [cdkDropListData]="boardColumns.impl.tasks"
    (cdkDropListDropped)="drop($event)">
    <app-board-column
      [columnData]="boardColumns.impl"
      (edit)="editTask($event, boardColumns.impl)"
      (delete)="deleteTask($event, boardColumns.impl)"
      class="app-column"></app-board-column>
  </mat-grid-tile>

  <mat-grid-tile
    #doneGrid="cdkDropList"
    [cdkDropListConnectedTo]="[todoGrid, implGrid]"
    cdkDropList
    [cdkDropListData]="boardColumns.done.tasks"
    (cdkDropListDropped)="drop($event)">
    <app-board-column
      [columnData]="boardColumns.done"
      (edit)="editTask($event, boardColumns.done)"
      (delete)="deleteTask($event, boardColumns.done)"
      class="app-column"></app-board-column>
  </mat-grid-tile>
</mat-grid-list>
