@use "@angular/material" as mat;
@include mat.core();

$header-height: 70px;

.mat-toolbar {
 height: $header-height;
}

.mat-grid-list {
  height: calc(100% - $header-height);

}

.app-column {
  height: 100% !important;
  width: 100% !important;
}

// .title {
//   width: 100%;
//   text-align: center;
// }
